* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #BF7506;
    margin-left: 24px;
    font-size: 16px;
    line-height: 24px;
}

.nav-link.active {
    font-weight: 700;
}

/* header */

.header {
    display: flex;
    align-items: center;
    padding: 70px 0;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}

.header-primary {
    color: #BF7506;
}

.header-links {
    display: flex;
    align-items: center;
}

.social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-link {
    display: inline-block;
    padding: 8px;
}

.cv-download {
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: 55px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
}

.cv-icon {
    margin-right: 4px;
}

/* portfolio */

.section-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #BF7506;
}

.card-text__wrapper {
    padding: 16px;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    max-width: 400px;
    margin-bottom: 40px;
}

.card-image {
    width: 100%;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #BF7506;
    margin-top: 0;
    margin-bottom: 8px;
}

.tags {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 16px;
}

.tag {
    display: inline-block;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #211B12;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #BF7506;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #211B12;
}

.card-buttons {
    display: flex;
    align-items: center;
}

.card-button {
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
    margin-right: 25px;
}

.card-button__icon {
    margin-right: 4px;
}

/* developer */

.developer {
    display: flex;
    align-items: center;
    padding: 80px 0 20px;
}

.developer-photo {
    width: 360px;
    height: 440px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
}

.developer-about {
    margin-left: 55px;
}

.developer-hello {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #211B12;
}

.developer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.03em;
    color: #BF7506;
    margin-top: 4px;
    margin-bottom: 16px;
}

.developer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #211B12;
}

.motto {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #BF7506;
    margin: 16px 0;
}

.developer-sign {
    max-width: 200px;
}

/* skills */

.skills {
    padding: 20px 0;
}

.skills-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #211B12;
}

/* feedback */
.feedback {
    position: relative;
    padding: 80px 0 160px;
}

.feedback-hand {
    position: absolute;
    top: 20%;
    right: 0;
    width: 25%;
}

.form-container {
    max-width: 435px;
    margin: auto;
}

.feedback-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.03em;
    color: #211B12;
    margin-bottom: 16px;
}

.input-group {
    position: relative;
    padding-top: 8px;
    margin-bottom: 24px;
}

.input-label {
    position: absolute;
    top: 0;
    left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #83807c;
    padding: 0 8px;
    background-color: #ffffff;
}

.input {
    border: 3px solid #E0DEDC;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    padding: 16px;
}

.textarea {
    min-height: 140px;
}

.submit-button {
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #211B12;
    border: none;
    border-bottom: 2px solid #BF7506;
    background-color: #ffffff;
    cursor: pointer;
}

.button-group {
    display: flex;
    justify-content: flex-end;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    border-top: 1px solid #E0DEDC;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #83807c;
    text-align: center;
}

/* media queries */

@media (max-width:1024px) {
    .container {
        max-width: 760px;
    }

    .card {
        max-width: 350px;
    }

    .card-image {
        height: auto;
    }
}

@media (max-width:790px) {
    .container {
        max-width: 576px;
    }

    .header-photo {
        max-width: 150px;
    }

    .header-strong {
        font-size: 36px;
    }

    .header-heading {
        font-size: 18px;
    }

    .cv-download {
        margin-left: 15px;
    }

    .cards {
        max-width: 45%;
    }

    .card-text__wrapper {
        padding: 8px 0;
    }

    .developer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .developer-photo {
        width: 100%;
        height: 350px;
        margin-bottom: 30px;
    }

    .developer-about {
        margin-left: 0;
        padding-left: 20px;
    }

    .feedback-hand {
        display: none;
    }
}

@media (max-width:600px) {
    .container {
        max-width: 90%;
    }

    .header {
        padding-top: 30px;
        flex-direction: column;
        text-align: center;
    }

    .header-heading {
        margin-bottom: 24px;
    }

    .header-links,
    .cards,
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .cv-download {
        margin-left: 0;
    }

    .cards {
        max-width: 100%;
    }

    .card {
        max-width: 100%;
    }

    .tags {
        flex-wrap: wrap;
    }
}

@media (max-width:480px) {
    .form-container {
        width: 90%;
    }
    .nav-list{
        flex-direction: column;
    }
    .nav-link{
        margin: 12px 0;
    }
}